In [2]:
file_name = 'aa.jpg'
print('파일명은 {} 입니다.'.format(file_name))

파일명은 aa.jpg 입니다.

In [4]:
print(f'파일명은 {file_name} 입니다.')

파일명은 aa.jpg 입니다.

In [10]:
for idx,val in enumerate(range(10,20),1):
    print(idx, val)

1 10
2 11
3 12
4 13
5 14
6 15
7 16
8 17
9 18
10 19

In [11]:
my_text = "a,b,c,d"
result = my_text.split(',')
result

['a', 'b', 'c', 'd']

In [13]:
# List comprehension (포괄적인 리스트) 
# before
fruits = ['banana','apple','kiwi']
new_list = []

for fu in fruits:
    if 'a' in fu:
        new_list.append(fu)

print(new_list)

['banana', 'apple']

In [15]:
#after
a_list = [fu for fu in fruits if 'a' in fu]
a_list

['banana', 'apple']

In [1]:
import re

my_str = 'ab\nc\rd\te'
print(my_str)

#정규표현식 Pattern 객체생성
regexp = re.compile(r'[\n\r\t]')
#Pattern에 해당되는 문자열을 replace
result = regexp.sub(" ", my_str)
result2 = result.replace(" ","")
print(result)
print(result2)

ab
d	e
ab c d e
abcde

In [6]:
print(list(range(1,10)))
for val in range(1,10):
    print(val)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1
2
3
4
5
6
7
8
9

In [7]:
import numpy as np

np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
#tuple 반환하는 함수 
def swap(a,b):
    return (b,a)

In [10]:
a,b = swap(10,20)
print(a)
print(b)

20
10

In [12]:
n1,n2,n3 = [100,200,300]
print(n1)
print(n2)

100
200