### 행정구역정보(CSV)를 읽고, 분석하기
* read_csv() 함수로 csv 파일 읽기
* 행과열을 선택(Selection)
* 상관계수 구하기 
* 시각화

In [2]:
import pandas as pd

data = pd.read_csv('data/data_draw_korea.csv')
data.head()

   Unnamed: 0     인구수 shortName   x  y       면적 광역시도 행정구역
0           0  202520        강릉  11  4  1040.07  강원도  강릉시
1           1   25589    고성(강원)   9  0   664.19  강원도  고성군
2           2   86747        동해  11  5   180.01  강원도  동해시
3           3   63986        삼척  11  8  1185.80  강원도  삼척시
4           4   76733        속초   9  1   105.25  강원도  속초시

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  229 non-null    int64
 1   인구수         229 non-null    int64
 2   shortName   229 non-null    object
 3   x           229 non-null    int64
 4   y           229 non-null    int64
 5   면적          229 non-null    float64
 6   광역시도        229 non-null    object
 7   행정구역        229 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 14.4+ KB

In [6]:
data.describe()

       Unnamed: 0           인구수           x           y           면적
count  229.000000  2.290000e+02  229.000000  229.000000   229.000000
mean   114.000000  2.110898e+05    6.117904   11.262009   435.419795
std     66.250786  2.074378e+05    3.320469    6.040898   381.612549
min      0.000000  8.392000e+03    0.000000    0.000000     2.800000
25%     57.000000  4.955900e+04    3.000000    6.000000    54.000000
50%    114.000000  1.401590e+05    6.000000   11.000000   436.400000
75%    171.000000  3.216180e+05    9.000000   16.000000   692.800000
max    228.000000  1.125461e+06   13.000000   25.000000  1817.940000

In [11]:
#인구수 컬럼의 평균, 중간, 최대, 최소
print('표준편차 ',data['인구수'].std())
print('평균 ',data['인구수'].mean())
print('중간 ',data['인구수'].median())
print('최대 ',data['인구수'].max())
print('최소 ',data['인구수'].min())

표준편차  207437.8370475227
평균  211089.77729257641
중간  140159.0
최대  1125461
최소  8392

In [9]:
#광역시도명(unique)
data['광역시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [10]:
#광역시도 row count
data['광역시도'].value_counts()

경기도        31
서울특별시      25
경상북도       23
전라남도       22
강원도        18
경상남도       18
부산광역시      16
충청남도       15
전라북도       14
충청북도       11
인천광역시      10
대구광역시       8
울산광역시       5
대전광역시       5
광주광역시       5
제주특별자치도     2
세종특별자치시     1
Name: 광역시도, dtype: int64

In [16]:
#경기도의 인구수 표준편차
data.loc[data['광역시도'] == '경기도','인구수'].std()

304548.39514203876

In [18]:
#서울특별시의 인구수 표준편차
data.loc[data['광역시도'] == '서울특별시','인구수'].std()

125231.24797500289

#### Data Selection
* loc, iloc 사용
* 슬라이싱 , 조건식, 특정행과 열을 여러개 선택

In [22]:
#6개의 행과 2개의 컬럼을 선택
data.loc[0:5,['행정구역','인구수']]

  행정구역     인구수
0  강릉시  202520
1  고성군   25589
2  동해시   86747
3  삼척시   63986
4  속초시   76733
5  양구군   20809

In [24]:
data.loc[0:5:2,['행정구역','인구수']]

  행정구역     인구수
0  강릉시  202520
2  동해시   86747
4  속초시   76733

In [25]:
#3,7,10행과 인구수부터 광역시도 컬럼까지
data.loc[[3,7,10],'인구수':'광역시도']

      인구수 shortName   x  y       면적 광역시도
3   63986        삼척  11  8  1185.80  강원도
7   34966        영월  10  8  1127.36  강원도
10  34242        정선  11  6  1220.67  강원도